---
layout: base.njk
---

<div class="flex flex-col p-6 md:m-16 lg:grid lg:place-content-center">
  <h2 class="text-xl text-purple-300">East Coast, United States</h2>
  <h3 class="text-lg text-purple-200">Web Developer, Solutions Architect</h3>
  <p class="antialiased text-2xl text-gray-800 my-2 font-bold w-full lg:w-1/2">
    I'm a web developer focused on front end systems and user experience. In the past I've held a variety of positions involving the creation of websites and the maintaining of systems on which they run.
  </p>
   <p class="antialiased text-xl text-gray-800 max-w-prose">
     For the last couple of years I worked at a local startup that taught computer programming and STEAM concepts to children. Because of the pandemic and subsequent lock-downs, that opportunity was no longer sustainable. Being stuck at home the last year has given me time for self-study and the ability to brush up on my skills. I've recently become certified as an AWS Solutions Architect with the goal of starting a career with the cloud. My first interaction with AWS was at my last job, initially teaching kids how to build their own Alexa skills. For programming lessons, we used Cloud9 as our development environment on Chromebooks. This allowed students the ability to work on their code from home with their own devices. For various tasks and personal projects that require a Linux server, I've been using EC2 for a couple of years now on a very basic level. 
    <br />
    <br />
    All this has had me wanting to further explore the platform and work with AWS on a bigger scale, which is what led me to seek out the AWS Solutions Architect certification. From my experience teaching children I learned how much benefit comes from teaching something to someone else. As I begin my career working with the cloud, I started this website to write about and document the things that I learn. While the focus of this website will be on AWS, you'll also see security, web development and unix tidbits discussed here.
  </p>
</div>