---
layout: base.njk
pagination:
  data: collections.general
  size: 4
  reverse: true
  alias: posts
---

{% block content %}
<div class="flex flex-grow flex-col p-6 md:m-16 lg:grid lg:place-content-center">
<div class="bg-purple-50 p-2 md:p-4 rounded-lg lg:w-2/3">
    <h1 class="text-4xl font-bold text-purple-400 animate__animated animate__flipInX">Hello!</h1>
    <p class="text-gray-600 p-1 my-1 leading-5 max-w-prose">
      As a recently accredited AWS Solutions Architect starting a career with the cloud, I thought it would be beneficial to detail my journey. From past experiences I discovered that writing about and teaching something to others is a great way to strengthen personal understanding. I've created this website to be part journal, part instruction. With the goal of improving my own understanding and hopefully helping others too along the way!
    </p>
    <h3 class="text-xl text-purple-400 p-1">
      Topics I write about
    </h3>
    <ul class="text-gray-600 list-disc list-inside ml-4 font-mono">
      <li>Amazon Web Services</li>
      <li>Web development</li>
      <li>Security</li>
      <li>Unix</li>
    </ul>
</div>
{% include "_includes/post-list.njk" %}
{% endblock %}
</div>