---
layout: base.njk
pagination:
  data: collections.general
  size: 4
  reverse: true
  alias: posts
---

{% block content %}
  <div>
    <div class="p-6">
      <h1 class="text-purple-400 text-3xl font-bold">Hello.</h1>
      <p class="antialiased text-gray-600 leading-5 max-w-prose my-4">
      As a recently accredited AWS Solutions Architect starting a career with the cloud, I thought it would be beneficial to detail my journey. From past experiences I discovered that writing about and teaching something to others is a great way to strengthen personal understanding. I've created this website to be part journal, part instruction. With the goal of improving my own understanding and hopefully helping others along the way!
    </p>
    <h3 class="text-xl text-purple-400">
      Topics I write about
    </h3>
    <ul class="text-gray-600 list-disc list-inside ml-4 my-2 font-mono">
      <li>Amazon Web Services</li>
      <li>Web development</li>
      <li>Security</li>
      <li>Unix</li>
    </ul>
    {% include "_includes/post-list.njk" %}
    </div>
  </div>
{% endblock %}
