<!DOCTYPE html>
<html lang="en">
  <head>
      <title>
        Allowed Cloud
      </title>
      <meta charset="UTF-8"/>
      <meta http-equiv="x-ua-compatible" content="ie=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
      <link rel="stylesheet" href="/style.css?v={% version %}"/>
      <link rel="stylesheet" href="/styles/base.css" />
      <link rel="stylesheet" href="{{" /assets/animate.min.css" | url }}"/>
      <link rel="stylesheet" href="{{" /assets/hover.css" | url }}"/>
      <link rel="stylesheet" href="/prism-material-light.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
      <script src="/js/alpine.js?v={% version %}"></script>
      {# <script src="/scroll-progress.js"></script> #}
      {% block head %}{% endblock %}
  </head>
  <body class="flex flex-col h-screen">
    {% block nav %}
      {% include "nav.njk" %}
    {% endblock %}
    <div class="flex-grow">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </div>
    {% block footer %}
      {% include "footer.njk" %}
    {% endblock %}
  </body>
</html>
