<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      <title>
        {% block title %}AllowedCloud{% endblock %}
      </title>
      <meta charset="UTF-8"/>
      {% if description %}
        <meta name="description" content="{{description}}"/>
      {% endif %}
      <meta http-equiv="x-ua-compatible" content="ie=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
      <link rel="stylesheet" href="/style.css?v={% version %}"/>
      <link rel="stylesheet" href="{{" /assets/animate.min.css" | url }}"/>
      <link rel="stylesheet" href="{{" /assets/hover.css" | url }}"/>
      <link rel="stylesheet" href="/prism-material-light.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">
      <script src="/js/alpine.js?v={% version %}"></script>
      <script src="/scroll-progress.js"></script>
      <!-- <script src="/post-title.js"></script> -->
    {% endblock %}

  </head>
  <body>
    <div class="flex flex-row flex-nowrap justify-end place-items-center m-3 text-sm">
      <a href="/about" class="mx-1 underline text-gray-700">About</a>
      <a href="/posts" class="mx-1 underline text-gray-700">Posts</a>
      <a href="/posts" class="mx-1 underline text-gray-700">Projects</a>
      <a href="/posts" class="mx-1 underline text-gray-700">Contact</a>
      <a href="/" class="bg-purple-100 p-1 ml-1 rounded-md">
        <img src="/images/home.svg" alt="Home" title="Home"/>
      </a>
    </div>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>