<footer class="flex flex-col place-items-center justify-center m-1">
  <div class="flex flex-nowrap place-content-center p-2">
    <a href="https://github.com/allowedcloud" title="Github" target="_blank" class="px-2">
      <img src="/images/github.svg" alt="Github">
    </a>
    <a href="https://twitter.com/allowedcloud" title="Twitter" target="_blank" class="px-2">
      <img src="/images/twitter.svg" alt="Twitter">
    </a>
    <a href="https://linkedin.com/" title="LinkedIn" target="_blank" class="px-2">
      <img src="/images/linkedin.svg" alt="LinkedIn">
    </a>
    <a href="mailto:allowedcloud@gmail.com" title="Email" class="px-2">
      <img src="/images/mail.svg" alt="Email">
    </a>
  </div>
</footer>