<nav>
  <div class="nav flex flex-row flex-nowrap justify-end mr-2">
    <a href="/posts" class="text rounded-br-md rounded-bl-md">Posts</a>
    <a href="/about" class="text rounded-br-md rounded-bl-md">About</a>
    <a href="/" title="Home" class="bg-purple-100 p-1 rounded-br-md rounded-bl-md">
      <img src="/images/home.svg" alt="Home icon">
    </a>
  </div>
</nav>