---
layout: base.njk
---
<div id="content" class="grid">
  <article class="">
    <h1 class="post-title text-2xl md:text-3xl">
      {{ title }}
    </h1>
    <div class="grid grid-cols">
      <div class="flex flex-row items-center">
        <div class="text-gray-300 mr-2">
          <img src="/images/calendar.svg" alt="Calendar icon">
        </div>
        <time datetime="{{ post.date | dateIso }}" class="text-gray-400 text-sm pt-1">{{ date | dateReadable }}</time>
      </div>
      <div class="flex mt-3">
        {% for tag in tags %}
          <a href="/tags/{{ tag }}" class="tags">
            {{ tag }}
          </a>
        {% endfor %}
      </div>
    </div>
    <div class="post-text max-w-prose text-gray-800 md:text-xl">
      {{ content | safe }}
    </div>
  </article>
</div 